<header class="header-6">
    <div class="branding header-nav">
        <a  class="active nav-link nav-text" style="color: white;">NCG Bootcamp</a>
        <a routerLink="/userhome" routerLinkActive="active" class="nav-link nav-text" style="color: white;">DASHBOARD</a>
        <a href="/assignment" class="nav-link nav-text" style="color: white;">ASSIGNMENTS</a>
         <a href="/score" class="active nav-link nav-text" style="color: white;">SCORES</a>
        <a href="/schedule" class="nav-link nav-text" style="color: white;">SCHEDULE</a>
        <a href="/leaderboard" class="nav-link nav-text" style="color: white;">LEADERBOARD</a>
    
    </div>
    
    <div class="header-actions">
        
        
        <a href="javascript://" class="nav-link nav-text" style="color: white;">LOGOUT</a>
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
            
        </a>
    </div>
</header>
<br>
<div class="card-header head sch" style="text-align: center;">
   <h4> Hi, User! Here are your assignment scores.</h4><br>
            </div>

<div class="container">
<clr-tabs>
    <clr-tab>
        <button clrTabLink class="btn btn-primary dash" >INDIVIDUAL ASSIGNMENT</button>
            <clr-tab-content *clrIfActive>
               <table class="table">
    <thead>
        <tr>
            <th>ASSIGN NO.</th>
            <th>YOUR SCORE</th>
            <th>MAX SCORE</th>
           
            <th>YOUR SUBMISSION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>64</td>
            <td>70</td>
            <td><button class="btn btn-primary dash" >View Submission</button></td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>48</td>
            <td>50</td>
            <td><button class="btn btn-primary dash" >View Submission</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>96</td>
            <td>100</td>
            <td><button class="btn btn-primary dash" >View Submission</button></td>
        </tr>
        
    </tbody>
</table>
            </clr-tab-content>
</clr-tab>

    <clr-tab>
        <button clrTabLink class="btn btn-primary dash" >TEAM ASSIGNMENT</button>
             <clr-tab-content *clrIfActive="true">
               <table class="table">
    <thead>
         <tr>
            <th>ASSIGN NO.</th>
            <th>TEAM SCORE</th>
            <th>MAX SCORE</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>49</td>
            <td>70</td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>28</td>
            <td>50</td>
        </tr>
        <tr>
            <td>3</td>
            <td>90</td>
            <td>100</td>
        </tr>
    </tbody>
</table>
            </clr-tab-content>
    </clr-tab>

</clr-tabs>
</div>



