<header class="header-6">
    <div class="branding header-nav">
        <a  class="active nav-link nav-text" style="color: white;">NCG Bootcamp</a>
        <a routerLink="/userhome" routerLinkActive="active" class="nav-link nav-text" style="color: white;">DASHBOARD</a>
        <a href="/assignment" class="active nav-link nav-text" style="color: white;">ASSIGNMENTS</a>
         <a href="/score" class="nav-link nav-text" style="color: white;">SCORES</a>
        <a href="/schedule" class="nav-link nav-text" style="color: white;">SCHEDULE</a>
        <a href="/leaderboard" class="nav-link nav-text" style="color: white;">LEADERBOARD</a>
    
    </div>
    
    <div class="header-actions">
        
        
        <a href="javascript://" class="nav-link nav-text" style="color: white;">LOGOUT</a>
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
            
        </a>
    </div>
</header>

<br>
<br>
<div class="card-header head">
   <h4> Active Assignments</h4>
            </div>
<div class="clr-col-lg-12 clr-col-12">
<div class="clr-row heading">
    <div class="clr-col-lg-3 clr-col-12">
        <h5> Assignment ID</h5>
    </div>
    <div class="clr-col-lg-3 clr-col-12">
        <h5> Submission Deadline</h5>
    </div>
    <div class="clr-col-lg-3 clr-col-12" >
        <h5> Assignment Difficulty</h5>
    </div>
    <div class="clr-col-lg-3 clr-col-12">
        <h5> Max Score</h5>
    </div>
    </div></div>
<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-12">
        <div class="card assign">
            <div class="clr-row">
                <div class="clr-col-lg-3 clr-col-12">
            <div class="card-header crdhd" style="text-align: center;">
             <h4> Assignment 3</h4>
            </div>
                </div>
                <div class="clr-col-lg-3 clr-col-12" >
            <div class="card-header crdhd" style="text-align: center;">
             <h5> July 25th, 12:00 pm IST</h5>
            </div>
                </div>
                <div class="clr-col-lg-2 clr-col-12" style="text-align: center;">
            <div class="card-header crdhd" >
             <h5> HARD</h5> 
            </div></div><div class="clr-col-lg-2 clr-col-12" style="text-align: center;">
                    <div class="card-header crdhd">
            <h5>100</h5>
            </div>
                </div>
            </div>
            <hr>
            <div class="card-block">
                <div class="card-media-block">
                    <div class="card-text">
                        
                            Created by : John Doe
                        
                    </div>
                </div>
                <div class="card-text">
                    Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-primary btn-icon">
    <button class="btn">
        <clr-icon shape="install" title="Check"></clr-icon> DOWNLOAD
    </button>
    <button class="btn">
        <clr-icon shape="backup-restore" title="home"></clr-icon> UPLOAD
    </button>
    
</div>
            </div>
        </div>
    </div>
    
</div>

<br>
<br>
<div class="card-header head">
   <h4> Older Assignments</h4>
            </div>


<div class="clr-col-lg-12 clr-col-12">
<div class="clr-row heading">
    <div class="clr-col-lg-3 clr-col-12">
        <h5 > Assignment ID</h5>
    </div>
    
    <div class="clr-col-lg-4 clr-col-12" >
        <h5> Assignment Difficulty</h5>
    </div>
    <div class="clr-col-lg-3 clr-col-12">
        <h5> Max Score</h5>
    </div>
    </div></div>
<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-12">
        <div class="card assign">
            <div class="clr-row">
                <div class="clr-col-lg-3 clr-col-12">
            <div class="card-header crdhd" style="text-align: center;">
             <h4> Assignment 1</h4>
            </div>
                </div>
               
                <div class="clr-col-lg-3 clr-col-12" style="text-align: center;">
            <div class="card-header crdhd" >
             <h5> EASY</h5> 
            </div></div><div class="clr-col-lg-3 clr-col-12" style="text-align: center;">
                    <div class="card-header crdhd">
            <h5> 50</h5>
            </div>
                </div>
            </div>
            <hr>
            <div class="card-block">
                <div class="card-media-block">
                    <div class="card-text">
                        
                            Created by : John Doe
                        
                    </div>
                </div>
                <div class="card-text">
                    Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-primary btn-icon">
    <button class="btn">
        <clr-icon shape="install" title="Check"></clr-icon> DOWNLOAD
    </button>
    
    
</div>
            </div>
        </div>
    </div>
    
</div>
<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-12">
        <div class="card assign">
            <div class="clr-row">
                <div class="clr-col-lg-3 clr-col-12">
            <div class="card-header crdhd" style="text-align: center;">
             <h4> Assignment 2</h4>
            </div>
                </div>
               
                <div class="clr-col-lg-3 clr-col-12" style="text-align: center;">
            <div class="card-header crdhd" >
             <h5> MEDIUM</h5> 
            </div></div><div class="clr-col-lg-3 clr-col-12" style="text-align: center;">
                    <div class="card-header crdhd">
            <h5> 100</h5>
            </div>
                </div>
            </div>
            <hr>
            <div class="card-block">
                <div class="card-media-block">
                    <div class="card-text">
                        
                            Created by : John Doe
                        
                    </div>
                </div>
                <div class="card-text">
                    Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-primary btn-icon">
    <button class="btn">
        <clr-icon shape="install" title="Check"></clr-icon> DOWNLOAD
    </button>
    
    
</div>
            </div>
        </div>
    </div>
    
</div>




